/* ==========================================================================
   Color Palette
   ========================================================================== */
/* ==========================================================================
   Base styles
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Cairo', sans-serif; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A8AEC1; }

.above {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 90%;
  color: #222; }

header > .name {
  font-size: 13vw;
  font-family: 'Space Mono', monospace; }

header > .job {
  font-size: 7vw; }

.web {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  height: 30vh; }

.web-item {
  display: flex;
  flex-direction: column;
  width: 20vw; }

.web-item img {
  width: 19vw; }

.web-item p {
  display: none;
  opacity: 0;
  transition: 200ms ease-out; }

.resume {
  display: flex;
  flex-direction: column;
  width: 85%; }

.gigs {
  margin-bottom: 3vh; }

.gigs__category {
  display: flex;
  justify-content: center; }

.gig {
  width: 95%; }

.gig__title {
  margin: 0; }

.gig__company {
  margin: 0; }

.gig__description {
  list-style: none;
  padding: 0; }
  .gig__description li {
    margin-bottom: 3vh; }
  .gig__description a {
    text-decoration: none;
    color: #222; }
  .gig__description a:hover {
    color: goldenrod; }

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.blurb {
  margin: 5vh 0; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  height: 55vh;
  background-color: #F2EFE9;
  border-radius: 8px; }

.form-control, button {
  width: 85%;
  border: none;
  outline: none;
  padding: 2vw;
  box-shadow: none;
  height: 6vh;
  background-color: #F2EFE9; }

.client-message {
  min-height: 25vh;
  resize: vertical;
  overflow: hidden; }

button {
  font-family: 'Space Mono', monospace;
  font-size: 4.5vw;
  background-color: #222;
  color: #F2EFE9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 85%; }

.quotes {
  display: flex;
  flex-direction: column;
  text-align: center; }

.quote {
  margin-bottom: 1vh;
  font-size: 3vw; }

.quote::first-letter {
  font-size: 140%; }

.author {
  margin: 0 0 3vh;
  font-size: 3.4vw; }

.toTheTop {
  justify-self: flex-end;
  width: 10vw;
  margin-bottom: 3vh; }

/* ==========================================================================
    Media Queries for Responsive Design
   ========================================================================== */
@media only screen and (min-width: 720px) {
  header > .name {
    font-size: 6em; }

  header > .job {
    font-size: 3em; }

  .web-item {
    align-items: center; }

  .web-item:hover .web-item img {
    opacity: 1; }

  .web-item img {
    width: 9em; }

  .web-item p {
    display: flex; }

  .resume {
    align-items: center;
    max-width: 550px; }

  .gig {
    width: 100%; }

  form {
    max-width: 500px; }

  .form-control, button {
    padding: 10px;
    box-shadow: none;
    height: 6vh;
    background-color: #F2EFE9; }

  button {
    font-size: 2em; }

  .quote {
    font-size: 13.5px; }

  .author {
    font-size: 14px; }

  .toTheTop {
    width: 50px; } }
